*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vh;
}

body{
    background-color: cadetblue;
}

main{
    background-color: white;
    width: 500;
    margin: auto;
    padding: 2%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}